body{
    background-color: aliceblue;
}
.reg{
    padding: 25px;
    text-align: center;
    
}
.reg h1{
    text-align: center;
<<<<<<< HEAD
    text-decoration: none;
=======
    font-family: sans-serif;
    font-size: large;
>>>>>>> 469f9fe4c0105af7306f150a434fde5cd3103d90
}